<html>
    <head>
        <style>
            body{
                margin: 0 auto;
            }
            #artist_section{
                width: 100%;
                border: 2px solid red;
            }
            .artist_img{
                height: 50%;
                border: red;
            }
        </style>
    </head>
	<body>
		<header>
			<h1>Artists</h1>
		</header>


		<ul>
        <%artists.each do |artist| %>
        <li>
        <form action= '/artist/<%= artist[0]%>' method= 'post'>
        <input type="hidden" name="_method" value="delete">
        <button>X</button>
        <a href="/artist/<%= artist[0] %>"><%= artist[1] %></a>
        </form>
        <% end %>
        </li>
        </ul>


        <h3>Add an Artist here!</h3>
        <form action="/artist" method="post">
        	<input type="text" name = "name" placeholder="Artist Name" required>
            <button>ADD YOUR ARTIST!</button>
        </form>

<!--         for Images -->
        <section id = 'artist_section'></section>


        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>


        //ON PAGE LOAD
        //THIS GENERATES EACH ARTIST IMAGE
        //ids: artist_section, artist_img
        var artists = <%= artists %>;
        console.log(artists);

artists.forEach(function(artist){
        var artist_name = artist[1]
        encoded = artist_name.replace(" ", "+");
        console.log(encoded);

        var url = "https://api.spotify.com/v1/search?q=artist:" + encoded + "&type=artist"

        var xhr = new XMLHttpRequest();


    xhr.addEventListener('load', function(e) {
      
        var d = xhr.responseText;
        var parsed = JSON.parse(d);

        var artist_section = document.getElementById('artist_section');

        var artist_img = document.createElement('img');
        artist_img.className = "artist_img";
        artist_img.src = parsed['artists']['items'][0]['images'][0]['url'];
        artist_section.appendChild(artist_img);

        console.log(parsed);
    })
        xhr.open("GET", url);
        xhr.send();
    
}) //end for each

        </script>

	</body>
</html>